<navbar></navbar>
<div class="container">
    <h4>
        Edit Product
    </h4>
    <div class="row justify-content-md-center">
        <div class="col-sm-8">
            <form class="dasboard-form">
                <div class="form-group">
                    <label for="name">Product name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter product name" ng-model="editedProduct.name">
                </div>
            </form>
        </div>
    </div>
</div>