<navbar></navbar>
<div class="container">
    <h3>Checkout</h3>
    <div class="row">
        <div class="col-md-7">
            <div>
                <h4>Shipment Info</h4>
                <form>
                    data
                </form>
            </div>
            <div>
                <h4>Review purchase</h4>
                <div ng-repeat="prod in products">
                    <div>{{prod.name}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div>Order Total</div>
            <button type="button" class="btn btn-block" ng-class="pay()">Confirm and pay</button>
        </div>
    </div>
</div>