<div class="card" ng-click="buy(product.id)">
    <img class="card-img-top" ng-src="{{product.imageUrl}}" alt="{{product.name}}">
    <div class="card-body">
        <h4 class="card-title">{{product.name}}</h4>
        <p class="card-text">{{product.description}}</p>
    </div>
    <div class="card-footer">
        <p>{{product.store.name}}</p>
        <div class="d-flex justify-content-between info">
            <div>Rating: {{product.rating}}</div>
            <div>Sales: {{product.sales}}</div>
        </div>
        <p>
            <strong>{{product.price | currency : "₪ "}}</strong>
        </p>
    </div>
    <div class="card-footer" ng-show="manage">
        <button type="button" class="btn btn-success" ng-click="edit(product.id, $event)">Edit</button>
        <button type="button" class="btn btn-danger" ng-click="deleteProduct(product, $event)">Delete</button>
    </div>
</div>