<navbar></navbar>
<div class="container mt-4">
    <h3>{{category.name}}</h3>
    <div class="row">
        <div class="col-md-2">
            <div ng-if="category">
                <strong>Stores in category</strong>
                <store-list id="category.id"></store-list>
            </div>
        </div>
        <div class="col-md-8">
            <form class="form-inline">
                <div class="form-group mb-2">
                    <label for="qry">Filter:</label>
                    <input type="text" name="qry" id="qry" class="form-control mx-2" placeholder="by name or description" ng-model="fquery">
                </div>
                <div class="form-group mb-2">
                        <select name="sort" id="sort" class="form-control" ng-model="sort" ng-options="opt.field as opt.title for opt in sortOptions">
                            <option value="">Order by...</option>
                        </select>
                    </div>
                </form>
            <div class="row">
                <div class="col-10 d-flex flex-column align-items-center shadow p-3 m-5 rounded" ng-show="noProducts()">
                    <h5>No products found</h5>
                    <a href="#!/">Shop our stores</a>
                </div>
                <div class="col-md-3 col-sm-6 d-flex justify-content-stretch mb-3" ng-repeat="prod in products | filter: filterProd | orderBy: sort">
                    <product-card product="prod"></product-card>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <strong>Related Categories</strong>
            <div ng-if="products">
                <category-list resource="products"></category-list>
            </div>
            <button type="button" class="btn btn-outline-warning btn-block mt-5" ng-click="moreCategories()">More Categories</button>
        </div>
    </div>
</div>