<navbar></navbar>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <p>Filtering</p>
            <p>Stores</p>
        </div>
        <div class="col-md-8">
            <div class="row" ng-controller="productsGallery">
                <div class="col-md-3 col-sm-6 d-flex justify-content-stretch" ng-repeat="prod in products">
                    <div class="card">
                        <img class="card-img-top" ng-src="{{prod.imageUrl}}" alt="alt">
                        <div class="card-body">
                            <h4 class="card-title">{{prod.name}}</h4>
                            <p class="card-text">{{prod.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>