<navbar></navbar>
<div class="container mb-3">
    <div class="categories-pane">
        <div ng-controller="categoryGallery" ng-init="init(true)">
            <div ng-if="categories">
                <slick autoplay="true" autoplaySpeed="5000" speed="1000" class="slider single-item">
                    <div ng-repeat="cat in categories | limitTo : 3">
                        <div class="cat-slide" style="background-image: url({{cat.imageUrl}})" ng-click="select(cat.id)">
                            <h1>
                                {{cat.name}}
                            </h1>
                        </div>
                    </div>
                </slick>
            </div>
        </div>
        <div class="mt-2 d-flex flex-column align-items-center">
            <button type="button" name="allCategories" id="allCategories" class="btn btn-primary" ng-click="allCategories()">All Categories</button>
        </div>
    </div>
    <div class="products-pane">
        <div ng-controller="newProducts" ng-init="init(10)">
            <h3>
                New Products
            </h3>
            <div ng-if="products">
                <slick speed="1000" infinite="true" slides-to-show="3" slides-to-scroll="1">
                    <div ng-repeat="prod in products">
                        <product-card product="prod"></product-card>
                    </div>
                </slick>
            </div>
        </div>
        <div class="mt-2 d-flex flex-column align-items-center">
            <button type="button" name="moreProducts" id="moreProducts" class="btn btn-warning" ng-click="moreProducts()">More</button>
        </div>
    </div>
    <div class="stores-pane">
        <div ng-controller="storeGallery">
            <h3>Check our stores</h3>
            <store-card list="stores" align="center"></store-card>
        </div>
        <!-- <div class="mt-2 d-flex flex-column align-items-center">
            <button type="button" name="browseStores" id="browseStores" class="btn btn-default">Browse stores</button>
        </div> -->
    </div>
</div>