<navbar></navbar>
<div class="container">
    <div>
        <div ng-controller="categoryGallery">
            <div ng-if="categories">
                <slick autoplay="true" speed="600" class="slider single-item">
                    <div ng-repeat="cat in categories | limitTo : 3">
                        <div class="cat-slide" style="background-image: url({{cat.imageUrl}})" ng-click="select(cat.id)">
                            <h1>
                                {{cat.name}}
                            </h1>
                        </div>
                    </div>
                </slick>
            </div>
        </div>
        <div class="mt-2 d-flex flex-column align-items-center">
            <button type="button" name="allCategories" id="allCategories" class="btn btn-primary" ng-click="allCategories()">All Categories</button>
        </div>
    </div>
    <div>
        <div>
            New Products Cards
        </div>
        <button type="button" name="allCategories" id="allCategories" class="btn btn-warning">More</button>
    </div>
    <div>
        <div>Most Popular Products Cards</div>
        <button type="button" name="allCategories" id="allCategories" class="btn btn-success">More</button>
    </div>
    <div>
        <div>Our Stores</div>
        <button type="button" name="allCategories" id="allCategories" class="btn btn-default">Browse stores</button>
    </div>
</div>