<div class="row">
    <div class="col-md-4 d-flex justify-content-stretch" ng-repeat="store in list">
        <div class="card border-info" ng-click="displayStore(store.id)">
            <img class="card-img-top" ng-src="{{store.imageUrl}}" alt="{{store.name}}">
            <div class="card-body">
                <h5 class="card-title">{{store.name}}</h5>
                <p class="card-text">{{store.about}}</p>
                <div>

                </div>
            </div>
            <div class="card-footer" ng-show="manage">
                <button type="button" class="btn btn-success">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>